body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:75px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1804 {
  position:absolute;
  left:269px;
  top:21px;
  width:382px;
  height:75px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:30px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u1806 {
  position:absolute;
  left:610px;
  top:24px;
  width:41px;
  height:23px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1809 {
  position:absolute;
  left:276px;
  top:29px;
  width:9px;
  height:9px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1811 {
  position:absolute;
  left:285px;
  top:29px;
  width:9px;
  height:9px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1813 {
  position:absolute;
  left:294px;
  top:29px;
  width:9px;
  height:9px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1815 {
  position:absolute;
  left:302px;
  top:29px;
  width:9px;
  height:9px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u1817 {
  position:absolute;
  left:316px;
  top:25px;
  width:21px;
  height:15px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u1819 {
  position:absolute;
  left:429px;
  top:24px;
  width:50px;
  height:18px;
  color:#FFFFFF;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1821 {
  position:absolute;
  left:566px;
  top:26px;
  width:38px;
  height:18px;
  color:#FFFFFF;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1823 {
  position:absolute;
  left:441px;
  top:64px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u1825 {
  position:absolute;
  left:280px;
  top:70px;
  width:13px;
  height:22px;
}
#u1826 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  position:absolute;
  left:384px;
  top:111px;
  width:59px;
  height:18px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1829 {
  position:absolute;
  left:460px;
  top:111px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:2px;
}
#u1831 {
  position:absolute;
  left:461px;
  top:132px;
  width:59px;
  height:1px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1833 {
  position:absolute;
  left:285px;
  top:149px;
  width:116px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u1835 {
  position:absolute;
  left:268px;
  top:280px;
  width:364px;
  height:1px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u1837 {
  position:absolute;
  left:276px;
  top:470px;
  width:364px;
  height:1px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1839 {
  position:absolute;
  left:342px;
  top:349px;
  width:30px;
  height:18px;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1841 {
  position:absolute;
  left:382px;
  top:345px;
  width:155px;
  height:25px;
}
#u1841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1842 {
  position:absolute;
  left:285px;
  top:307px;
  width:116px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1843 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  position:absolute;
  left:342px;
  top:384px;
  width:30px;
  height:18px;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1846 {
  position:absolute;
  left:382px;
  top:380px;
  width:155px;
  height:25px;
}
#u1846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:342px;
  top:416px;
  width:30px;
  height:18px;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1849 {
  position:absolute;
  left:382px;
  top:412px;
  width:155px;
  height:25px;
}
#u1849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u1850 {
  position:absolute;
  left:278px;
  top:658px;
  width:364px;
  height:1px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:328px;
  top:542px;
  width:44px;
  height:18px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1854 {
  position:absolute;
  left:382px;
  top:538px;
  width:155px;
  height:25px;
}
#u1854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1855 {
  position:absolute;
  left:553px;
  top:542px;
  width:30px;
  height:18px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1857 {
  position:absolute;
  left:285px;
  top:500px;
  width:116px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:328px;
  top:577px;
  width:44px;
  height:18px;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1861 {
  position:absolute;
  left:382px;
  top:573px;
  width:155px;
  height:25px;
}
#u1861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:553px;
  top:577px;
  width:30px;
  height:18px;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:328px;
  top:610px;
  width:44px;
  height:18px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1866 {
  position:absolute;
  left:382px;
  top:605px;
  width:155px;
  height:25px;
}
#u1866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:553px;
  top:609px;
  width:30px;
  height:18px;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u1869 {
  position:absolute;
  left:278px;
  top:854px;
  width:364px;
  height:1px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  position:absolute;
  left:313px;
  top:733px;
  width:59px;
  height:18px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1873 {
  position:absolute;
  left:382px;
  top:729px;
  width:155px;
  height:25px;
}
#u1873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:285px;
  top:691px;
  width:116px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1876 {
  position:absolute;
  left:392px;
  top:1122px;
  width:140px;
  height:32px;
  font-size:20px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u1878 {
  position:absolute;
  left:380px;
  top:202px;
  width:155px;
  height:25px;
}
#u1878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:552px;
  top:206px;
  width:15px;
  height:18px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  position:absolute;
  left:334px;
  top:206px;
  width:30px;
  height:18px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1883 {
  position:absolute;
  left:298px;
  top:907px;
  width:305px;
  height:98px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:41px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:93px;
}
#u1885 {
  position:absolute;
  left:319px;
  top:914px;
  width:111px;
  height:83px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#49B65C;
}
#u1887 {
  position:absolute;
  left:439px;
  top:922px;
  width:44px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#49B65C;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1889 {
  position:absolute;
  left:298px;
  top:944px;
  width:14px;
  height:16px;
}
#u1890 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  position:absolute;
  left:439px;
  top:944px;
  width:45px;
  height:19px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  position:absolute;
  left:492px;
  top:944px;
  width:45px;
  height:19px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:-6px;
  width:41px;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:545px;
  top:944px;
  width:45px;
  height:19px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  position:absolute;
  left:439px;
  top:978px;
  width:45px;
  height:19px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:-6px;
  width:41px;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1899 {
  position:absolute;
  left:285px;
  top:879px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1902 {
  position:absolute;
  left:363px;
  top:1052px;
  width:187px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1903 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1904 {
  position:absolute;
  left:450px;
  top:1059px;
  width:20px;
  height:20px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
